.setValue_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.setValue_wrapper span {
    font-size: 30px;
    font-weight: bolder;
    color: #282c34;
}

input {
    width: 130px;
    height: 30px;
    display: flex;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    outline: 3px solid #282c34;
}

.error_input {
    background-color: #e5204e;
    opacity: 0.8;
}